<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Tjabal ITP Error</title>
       <link rel="stylesheet" href="style.css" type="text/css" />
    </head>
    <body>
        <div th:replace="~{header :: header}"></div>
        <div class="content">
            <h1>An Error Has Occurred, Please Try Again or Contact The Administrator If Issue Persists</h1>
        </div>
        <div th:replace="~{footer :: footer}"></div>
    </body>
</html>
